.btn{
font-style: 19px;
font-weight: bold;
padding: 20px 40px;
text-transform: uppercase;
border-radius: 100px;
line-height: 1;
text-decoration: none;


&--theme--white {
  background: #fff;
  color: #0b4d3c;
  
  &:hover {
    color: #fff;
    background: #0b4d3c;
  }
}
}