.order-section {
  background: url("../img/decor/order-background.png") center bottom / cover no-repeat;

&:after {
    content: url("../img/decor/leaf-form.png");
    position: absolute;
    bottom: rem(45px);
    right: rem(10px);
}
&:before {
  position: absolute;
  bottom: rem(30px);
  left: 2%;
  content: url("../img/decor/berry.png");
}
}