.reviews-section {
  position: relative;
  background: url("../img/decor/berries.png") right top no-repeat;

  &::before {
    content: url("../img/decor/berries-left.png");
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}